<section class="left-section">
    <div class="layouts">
        <div class="layout dashboard">
            <i class="fa-sharp fa-solid fa-house-chimney"></i>
            <a href={{ path('dashboard')}}>TABLEAU DE BORD</a>
        </div>

        <div class="layout project">
            <i class="fa-solid fa-circle-user"></i>
            <a href={{ path('project')}}>PROJETS</a>
        </div>

        <div class="layout clients">
            <i class="fa-solid fa-book"></i>
            <a href={{ path('customer')}}>CLIENTS</a>
        </div>

        <div class="layout heberg">
            <i class="fa-regular fa-square-check"></i>
            <a href={{ path('host')}}>HÉBERGEURS</a>
        </div>
    </div>
</section>