<section class="left-section">
    <div class="layouts">
        <div class="layout dashboard">
            <i class="fa-sharp fa-solid fa-house-chimney"></i>
            TABLEAU DE BORD
        </div>

        <div class="layout project">
            <i class="fa-solid fa-circle-user"></i>
            PROJETS
        </div>

        <div class="layout clients">
            <i class="fa-solid fa-book"></i>
            CLIENTS
        </div>

        <div class="layout heberg">
            <i class="fa-regular fa-square-check"></i>
            HÉBERGEURS
        </div>
    </div>
</section>