<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/colors.css') }}" rel="stylesheet"/>
    </head>
    <body>
        {% include "includes/nav.html.twig" %}
        <main>
            {% block body %}
                    {% include "includes/side.html.twig" %}
                    {% block content_right %}
                    {% endblock %}
            {% endblock %}
        </main>
    </body>
</html>
